# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.suo
.suo

# Compiled Release files
*.cache

# Compiled bin files
/WindowsFormsApp1/WebApi/bin/
/WindowsFormsApp1/WindowsFormsApp1/bin/


# Compiled obj files
/WindowsFormsApp1/WebApi/obj/
/WindowsFormsApp1/WindowsFormsApp1/obj/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
